@{
    ViewData["Title"] = "About This Site";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website is intended to help .NET developers understand how to create secure websites. 
    It includes examples of secure software development best practices that developers can use in their own websites.
    To learn more, please check out the book Advanced ASP.NET Core 8 Security by Scott Norberg or visit <a href="https://opperis.com" target="_blank">the Opperis Technologies homepage</a> for information on developer training.
</p>
<p>
    Please note that this website is <em>not</em> intended to be an all-in-one source on all things best practices in coding.
    Some development best practices were ignored to save development time. 
    Again, this is a security training site, not a developer training site.
</p>
<p>
    The inspiration for this website came from OWASP&apos;s JuiceShop app.
</p>
<p>
    <a href="https://owasp.org/www-project-juice-shop/" target="_blank" rel="nofollow noopener">Original JuiceShop Information Page</a>
</p>
<p>
    <a href="https://github.com/juice-shop/juice-shop" target="_blank" rel="nofollow noopener">Original JuiceShop Source Code</a>
</p>