@using Microsoft.AspNetCore.Identity
@using JuiceShopDotNet.Safe.Data;
@inject SignInManager<JuiceShopUser> SignInManager

<ul class="navbar-nav nav-account">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline" asp-area="Auth" asp-page="/MyAccount/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="logout-button" id="Logout">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Auth" asp-page="/MyAccount/Login">Login</a>
        </li>
    }
</ul>
